body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    text-align: center;
    background-color: #15ff00;
    color: white;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search_section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input {
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.search_button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search_button:hover {
    background-color: #218838;
}

.image_display {
    text-align: center;
    margin-top: 20px;
}

.image_container {
    width: 400px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10px;
}


.button_container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.button{
    padding: 10px 20px;
    background-color: #15ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.button:hover{
    background-color: #218838;
}
